[Desktop Entry]
Type=Application
Name=OpenFortiVPN Indicator
Name[pt_BR]=Indicador OpenFortiVPN
Comment=Tray icon to connect/disconnect openfortivpn and show status
Comment[pt_BR]=Ícone na bandeja para conectar/desconectar o openfortivpn e ver o status
Exec=/usr/bin/openfortivpn-indicator
Icon=/usr/share/openfortivpn-indicator/icons/openfortivpn-disconnected.svg
Terminal=false
Categories=Network;System;
Keywords=vpn;fortinet;forticlient;openfortivpn;
X-GNOME-Autostart-enabled=true
